# Ignorar carpeta de compilación
build/
bin/

# Ignorar archivos de sistema y VSCode
.vscode/
.DS_Store

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
.venv

# Ignorar ejecutables compilados
*.exe
*.out
obc_main

# Datos generados (opcional, pero recomendado)
logs/flight_data.csv
reports/flight_report.txt